:root {
  --bg:  rgb(232, 95, 10);
  --text: #e5e7eb;
  --bs-secondary: #e75710;
  --bs-danger:var(--bg);
}
.text-secondary{
  color: var(--bg) !important;
}

.navbar{
    background-color: var(--bg);
}
#home{
    position: relative;
    overflow: hidden;
}
#home img {
  width: 100%;
  object-fit: cover;
  filter: brightness(70%);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.search-box {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50px;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 500px;
}
.search-box input {
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
}
.symbol{
    padding: 10px;
    color: var(--text);
    background-color: var(--bg);
}
.symbol:hover{
  color: var(--bg);
  background-color: var(--text);
}

#sidebar{
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: var(--text);
  color: black;
  transition: right 0.5s ease;
  z-index: 1050;
  overflow-y: auto;
  padding-top: 60px;
  box-shadow: -4px 0 10px rgba((rgb(7, 160, 12)), green, blue, alpha);
}
#sidebar.active{
  right:  0;
}
#sidebar ul li{
  padding: 10px 15px;
  border-bottom: 1px solid rgba(13, 9, 9, 0.4);
  cursor: pointer;
  transition: background 0.4s;
}
#sidebar ul li:hover{
  background-color: rgb(255, 255, 255);
  color: var(--bg);
}
#menubtn{
  color: azure;
}
.card{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    place-items:end; 
}
.card p{
  background-color: var(--bg);
}
.img1
{
  transition: transform 0.4s ease-in-out;
  display: block;
  width: 100%;
  height: auto;
}
.img1:hover {
  transform: scale(0.8);
}
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}